.iphone ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.slide{
	width: 600px;
	height: 300px;
	float: left;
}
#slides{
	width: 2400px;
	position: absolute;
	top: 10;
	left: 0;
	-webkit-animation:sliderAuto 16s infinite;
	-moz-animation:sliderAuto 16s infinite;
	-o-animation:sliderAuto 16s infinite;
	animation:sliderAuto 16s infinite;
}
#wrap{
	width: 600px;
	height: 300px;
	overflow: hidden;
	position: relative;
}
@-webkit-keyframes sliderAuto{
	0%{left: 0;}
	12%{left: 0;}

	25%{left:-602px;}
	37%{left:-602px;}

	50%{left: -1204px;}
	62%{left: -1204px;}

	75%{left: -1806px;}
	87%{left: -1806px;}

	100%{left: 0;}
}